<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<hibernate-configuration>
<session-factory>
<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/gestionfacu?createDatabaseIfNotExist=true</property>
<property name="hibernate.connection.username">root</property>
<property name="hibernate.connection.password">root</property>
<property name="hibernate.hbm2ddl.auto">create</property>
<property name="hibernate.show_sql">true</property>
<mapping package="com.facultad" resource="com.facultad/Alumno.hbm.xml"/>
<mapping package="com.facultad" resource="com.facultad/Carrera.hbm.xml"/>
<mapping package="com.facultad" resource="com.facultad/Ciudad.hbm.xml"/>
<mapping package="com.facultad" resource="com.facultad/Facultad.hbm.xml"/>
<mapping package="com.facultad" resource="com.facultad/Materia.hbm.xml"/>
<mapping package="com.facultad" resource="com.facultad/Persona.hbm.xml"/>
<mapping package="com.facultad" resource="com.facultad/Profesor.hbm.xml"/>
</session-factory>
</hibernate-configuration>